<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCStoreMenagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCStoreMenagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCStoreMenagement.Properties.Settings>
            <setting name="userSave" serializeAs="String">
                <value />
            </setting>
        </PCStoreMenagement.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PCStoreMenagement.Properties.Settings>
            <setting name="conStr" serializeAs="String">
                <value>server= localhost;port =3306; database = pc_store; user=root; password=</value>
            </setting>
        </PCStoreMenagement.Properties.Settings>
    </applicationSettings>
</configuration>